body{
    padding: 0px;
    margin: 0px;
}
.header {
    background-image:url(../img/Layer\ 21.png);
    width:100%; 
    height:600px;
}
.head {
    color: #ffffff;
    font-size: 48px;
}

.head2 {
    color: #ffffff;
}

.head3 {
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0, 0.3);
    width: 600px;
    height: 80px;
    font-size: 54px;
    text-align: center;
    color: #ffffff;
}

span {
    color: #f1ad1d;
}

.info-block {
    padding: 300px 0px 0px 150px;

}
.name-title{
    color:
    #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-description{
    color:#4d4943;
    font-size: 17px;
}

div{
    text-align: center;
}

hr{
    margin: 70px auto;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
}
.menu__logo {
    color: orange;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    text-align: left;
    display: inline-block;
    width: 150px;
}

.menu {
    width: 1200px;
    margin: 0 auto;
}

.menu__list {
    display: inline-block;
    text-align: right;
    width: 1000px;
}

.menu__item {
    font-family: Lato, sans-serif;
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.menu__item:hover 
{
color: orange;
}
.line {
    width: 90%;
    background-color: orange;
    height: 1px;
    border: none;
}
.block{
    width: 70%;
    margin: 0 auto;
 }
 .img-block{
 
    display: inline-block;
 }
 .text-block{
    width: 35%;
    display: inline-block;
    padding-left: 20px;
    box-sizing: border-box;
 }
 .text1-block{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: orange;
    text-align: left;
    font-weight: bold;
 
 }
 .black{
    color: black;
 }
 .text2-block{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }
 .button-block{
    background-color: orange;
 
 }
 .button-text{
    color: white;
 }
 .new_block{
     background-image: url(../img/Slogan1.png);
     padding-top: 100px;
     padding-bottom: 50px;
     box-sizing: border-box;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     margin-top: 90px;
     height: 380px;
 }
 .newp{
     color: white;
     font-size: 22px;
     text-transform: uppercase;
 }
 
 /*5-6*/
 .line1 {
     margin-top: 207px;
 }
 
 .line2 {
     text-transform: uppercase;
     font-weight: bold;
 }

 .container {
     width: 1170px;
     margin: 0 auto;
 }
 
 .stuff {
    float: left;
    width: 193px;
    height: 178px;
    margin: 1px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

 }
.person1 {
    background-image: url(../img/Layer27.png); 
}
.photo-tittle1
{
    background-color: #333333;
    color: white;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;
}
.person2 {
    background-image: url(../img/Layer\ 28.png);
}
.photo-tittle2
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px; 
    color: white;
}
.person3 {
    background-image: url(../img/Layer\ 29.png);
}
.photo-tittle3
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;  
    color: white;
}
.person4 {
    background-image: url(../img/Layer\ 30.png);
}
.photo-tittle4
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;
    color: white;  
}
.person5 {
    background-image: url(../img/Layer\ 31.png);
}
.photo-tittle5
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;
}  
.person6 {
    background-image: url(../img/Layer\ 32.png);
}
.photo-tittle6
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;  
    color: white;
}
.person7 {
    background-image: url(../img/Layer\ 33.png);
}
.photo-tittle7
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;  
    color: white;
}
.person8 {
    background-image: url(../img/Layer\ 34.png);
}
.photo-tittle8
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;   
    color: white;
}
.person9 {
    background-image: url(../img/Layer\ 35.png);
}
.photo-tittle9
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px; 
    color: white;
}
.person10 {
    background-image: url(../img/Layer\ 36.png);
}
.photo-tittle10
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;  
    color: white;
}
.person11 {
    background-image: url(../img/Layer\ 37.png);
}
.photo-tittle11
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;  
    color: white;
}
.person12 {
    background-image: url(../img/Layer\ 38.png);
}
.photo-tittle12
{
    background-color: #333333;
    width: 132px;
    height: 38px;
    margin-left: 15px;
    margin-top: 115px;  
    color: white;

}

.block-f {
    margin-top: 207px;
}


.card-info {
    float: left;
    margin-right: 28px;
}

.card-info_margin-position {
    margin-right: 0;
}
.title-f__text{
    box-sizing: border-box;
    padding-top: 7%;
}
.title-f__block {
    background-color:  #333333;
    width: 271px;
    height: 56px;
}

.logo_offer {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
}

.description-header {
    margin-top: 20px;
    width: 271px;
    height: 56px;
    

}

.uppercase {
    text-transform: uppercase;
    color: black;
}

.description-footer {
    font-size: 24px;
    text-align: center;
    height: 100%;
}

.description_footer_text {
    text-transform: capitalize;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
    

}

.black-line {
    width: 100%;
    height: 3px;
    background-color: black;
}
.slogan
{
    padding-top: 155px;
    background-image: url(../img/Layer\ 39.png);
    width: 100%;
    height: 475px;
    clear: both;
    font-family: Montserrat;
color:  #ffffff;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
background-repeat: no-repeat;
top: 100px;
position: relative;
}
.flex-container
{
    display: flex;
    width: 1600px;
    height: 120px;
    justify-content: center;
}
.margin-in-container
{
    margin: 0px 50px;
}
.logo1
{
    width: 207px;
height: 28px;
    background-image: url(../img/Layer\ 18.png)
}
.logo2
{
    width: 135px;
height: 49px;
    background-image: url(../img/logo-8.png)
}
.logo3
{
    width: 172px;
height: 42px;
    background-image: url(../img/Layer\ 17.png)
}
.logo4
{
    width: 141px;
height: 52px;
    background-image:url(../img/logo-3.png)
}
.Zagolovok
{
    font-family: Montserrat, sans-serif;
color:  #333333;
font-size: 22px;
font-weight: 700;
line-height: 18px;
text-align: center;
}
.main_table
{
    text-align: left;
}
.table
{
   float: left;
   width: 370px; 
}
.table1
{

}
.table2
{

}
.table3
{

}
.orange-line-right1
{
    width: 17%;
    background-color: orange;
    height: 3px;
    border: none;
    position: absolute;
    top: 4550px;
    left: 240px;
}
.orange-line-right2
{
    width: 17%;
    background-color: orange;
    height: 3px;
    border: none;
    position: absolute;
    top: 4550px;
    left: 610px;
}
.orange-line-right3
{
    width: 17%;
    background-color: orange;
    height: 3px;
    border: none;
    position: absolute;
    top: 4550px;
    left: 980px;
}
.nazvanie
{
    font-family: Lato, sans-serif;
color: #5b5b5b;
font-size: 12.5px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px; /* Приближение из-за подстановки шрифтов */
text-align: justify;
width: 350px;
height: 52px;
margin-left: 155px;
}
.shozanazvanie
{
    font-family: Lato, sans-serif;
    color: #5b5b5b;
    font-size: 12.5px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
    width: 350px;
    height: 52px;
    margin-left: 155px;
}
.nazvanietexta
{
    font-family: Lato, sans-serif;
    color: #5b5b5b;
    font-size: 12.5px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
    width: 350px;
    height: 52px;
    margin-left: 155px;
}
.chornayaliniya1
{
    width: 343px;
    height: 2px;
    background-color: black;
    margin-left: 157px;
    margin-top: 30px;
}
.chornayaliniya2
{
    width: 343px;
    height: 2px;
    background-color: black;
    margin-left: 157px;
    margin-top: 30px;
}
.chornayaliniya3
{
    width: 343px;
    height: 2px;
    background-color: black;
    margin-left: 157px;
    margin-top: 30px;
}
.footer-title
{
    font-family: Lato, sans-serif;
color:  #313131;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 20px;/* Приближение из-за подстановки шрифтов */
text-align: justify;
}
.footer-adition
{
    font-family: Lato, sans-serif;
color: #5b5b5b;
font-size: 13px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 20px; /* Приближение из-за подстановки шрифтов */
text-align: justify;
}
.footer-child
{
    position: absolute;
    top: 4790px;
    left: 960px;
}
.footer-chil2
{

}
.footer-chil1
{

}
.headline
{
    position: relative;
    margin-top: 400px;
    font-family: Montserrat, sans-serif;
color:  #333333;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 18px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.headline2
{
     margin-top: 100px;
    font-family: Montserrat, sans-serif;
color:  #333333;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 18px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.description
{
    font-family: Lato, sans-serif;
    color: #4d4943;
    font-size: 17px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 30px;
}
.button1
{
    background-color:  #333333;
width: 380px;
height: 56px;
font-family: Montserrat, sans-serif;
color:  #ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 18px;/* Приближение из-за подстановки шрифтов */
text-align: left;
box-sizing: border-box;
padding: 20px;
margin-left: 270px
}
.description-left
{
font-family: Lato, sans-serif;
color: #4d4943;
font-size: 17px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px; /* Приближение из-за подстановки шрифтов */
text-align: left;
margin-top: 30px;
margin-left: 270px
}
.input-name
{
width: 250px;
height: 45px;
margin-left: 270px;
margin-top: 30px;
}
.input-email
{
    width: 250px;
height: 45px;
margin-left: 35px;
margin-top: 30px;
background-color: #ffffff;
}

.input-message
{
    width: 715px;
    height: 235px;
    margin-left: 270px;
    margin-top: 30px;
    background-color: #ffffff;
}
.reset
{
    background-color: #f1ad1d;
    color: white;
    font-family: Lato;
color:  #ffffff;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
line-height: 12px;/* Приближение из-за подстановки шрифтов */
text-align: center;
width: 118px;
height: 43px;
margin-top: 30px;
    margin-left: 270px;
    border: 0px;
    font-family: Lato, sans-serif;
color:  #ffffff;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 12px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.send
{
    background-color: #f1ad1d;
    color: white;
    font-family: Lato;
color:  #ffffff;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
line-height: 12px;/* Приближение из-за подстановки шрифтов */
text-align: center;
width: 118px;
height: 43px;
margin-top: 30px;
    margin-left: 30px;
    border: 0px;
    font-family: Lato, sans-serif;
color:  #ffffff;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 12px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.form-roditel
{
    width: 315PX;
    height: 560PX;
    position: absolute;
    top: 5270px;
    left: 1100px;
    
}
.button2
{
    background-color:  #333333;
    width: 246px;
    height: 56px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 270px;
    position: absolute;
    top: -90px;
    left: -272px;
}
.button3
{
    background-color:  #333333;
    width: 246px;
    height: 56px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 270px;
    position: absolute;
    top: 290px;
    left: -272px;
}
.description-right
{
    font-family: Lato, sans-serif;
color: #4d4943;
font-size: 17px; /* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 24px; /* Приближение из-за подстановки шрифтов */
text-align: left;
top: 5130px;
left: 570px
}
.loc
{
    background-color: #333333;
    width: 36px;
    height:32px;
    position: absolute;
    top: 55px;
}
.locimg
{
    margin-top: 10px;  
}
.rmdescription
{
    font-family: Lato, sans-serif;
    color: #4d4943;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
    position: absolute;
    top: -10px;
    left: 42px;
    width: 320px;
}
.phone
{
    background-color: #333333;
    width: 36px;
    height:32px;
    position: absolute;
    top: 110px;
}
.phoneimg
{
    margin-top: 10px;
}
.world
{
    background-color: #333333;
    width: 36px;
    height:32px;
    position: absolute;
    top: 160px;
}
.worldimg
{
    margin-top:10px;
}
.massagerm
{
    background-color: #333333;
    width: 36px;
    height:32px;
    position: absolute;
    top: 210px;
}
.yellow-icons
{
    display: flex;
    width: 210px;
    height: 40px;
    flex-flow: row nowrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-end;
    margin-top: 340px;
    margin-left: -2px;
    justify-content: space-between;
}
.yellow-icon
{
background-color: #f1ad1d;
width: 45px;
height: 40px;
}
.facebook
{
    margin-top: 10px;
}
.wifi
{
    margin-top: 10px;
}
.twitter
{
    margin-top: 10px;
}
.google
{
    margin-top: 10px;
}
.header2
{
    background-image:url(../img/Layer\ 59.png) ;
    width: 1600px;
height: 485px;
margin-top: 140px;
}
.header-text
{
    font-family: Montserrat, sans-serif;
color:  #ffffff;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
padding-top: 95px;
}
.white-header-text
{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    text-align: center;
}
.header-text2
{
    font-family: Montserrat, sans-serif;
color:  #5b5b5b;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 600;
text-align: center;

}
.brands
{
    width: 1134px;
    height: 238px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 170px;
}
.block1
{
    width: 370px;
    height: 341px;
    position: absolute;
    left: 170px;
}
.block1
{
    width: 370px;
    height: 412px;
    position: absolute;
    left: 170px;
}
.block3
{
    width: 370px;
    height: 412px;
    position: absolute;
    left: 950px;
    top: 7182px;
}
.minilogo
{
    background-color: #333333;
    width: 36px;
    height:32px;
}
.minilogo2
{
    background-color: #333333;
    width: 36px;
    height:32px;
    margin-left: 554px;
}
.minilogoimg
{
    margin-top: 8px;
}
.minihead
{
font-family: Montserrat, sans-serif;
color:  #333333;
font-size: 17px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
text-align: left;
margin-left: 50px;
margin-top: -25px;
}
.minihead2
{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 17px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    text-align: left;
    margin-left: 600px;
    margin-top: -25px;  
}
.minidescription
{
font-family: Lato, sans-serif;
color:  #505050;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
text-align: left;
}
.minidescription2
{
font-family: Lato, sans-serif;
color:  #505050;
font-size: 13px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
text-align: left;
margin-left: 554px;
}
.miniblackhr
{
    background-color: #c1c1c1;
width: 369px;
height: 1px;
margin-top: 0px;
}
.leftnote
{
font-family: Lato, sans-serif;
color: #828282;
font-size: 12px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 18px; /* Приближение из-за подстановки шрифтов */
text-align: left;
margin-top: -55px;
}
.leftnote2
{
font-family: Lato, sans-serif;
color: #828282;
font-size: 12px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 18px; /* Приближение из-за подстановки шрифтов */
text-align: left;
margin-top: -55px;
margin-left: 554px;
border-bottom: #313131 3px solid;
width: 25.2%;
}
.rightnote
{
    font-family: Lato, sans-serif;
color: #828282;
font-size: 13px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 18px; /* Приближение из-за подстановки шрифтов */
text-align: right;
margin-top: -30px;
}
.rightnote2
{
    font-family: Lato, sans-serif;
color: #828282;
font-size: 13px; /* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 18px; /* Приближение из-за подстановки шрифтов */
text-align: right;
margin-top: -30px;
}
.notsominihr
{
background-color: #333333;
width: 370px;
height: 3px;
margin-top: 0;
}
.notsominihr2
{
background-color: #333333;
width: 370px;
height: 3px;
margin: 45 0 0 0 ;
}
.align-right
{text-align: right;
color: #828282;}
